.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
  .horizontal-scroll:active {
    cursor: grabbing;
  }
  