.event-card {
    position: relative;
    /* height: 60vh; */
    width: 80vw;
    flex: 0 0 auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 60px;
    color: #E6E4D6;
    scroll-snap-align: center;
}

.event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.event-card-content-container,
.event-card-button-container {
    position: relative;
    z-index: 2;
}

.event-card-content-container {
    text-align: left;
    font-size: 3vw;
    margin: 1rem 2rem;
}

p {
    margin: 0;
}

.event-card-title-name,
.event-card-date-time,
.event-card-address,
.event-card-description {
    margin-bottom: 2em;
}

.event-card-title-name{
    margin-top: 2em;
}

.event-card-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: auto; 
    margin-bottom: 2rem;
}
