.card-event {
    position: relative;
    height: 80vh;
    width: 80vw;
    flex: 0 0 auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 60px;
    color: rgb(254, 254, 254);
    scroll-snap-align: center;
}

.card-event::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(100px);
    border-radius: inherit;
    z-index: -1;
}

.event-container {
    margin: 0 1rem;
    height: 40%;
    overflow: hidden;
}

.card-title {
    letter-spacing: -2px;
    font-weight: 500;
margin-bottom: 1.5rem;
    font-weight: 500;

}

.card-descriptor {
    font-weight: 500;
    margin-bottom: 2rem;
}

.card-description {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 1rem 1rem;
}
