.sound-card {
    height: auto;
    width: 80vw;
    padding: 20px;
    border-radius: 60px;
    color: #E6E4D6;
    text-align: start;
    margin: 2rem auto;
    background-color: #707735;
}

.sound-card-container {
    margin: 1.5em 0;
}

.sound-card-title,
.sound-card-descriptor {
    margin: 0;
}

.sound-card-descriptor {
    margin-bottom: 3rem;
}

ul {
    padding: 0 0 0 20px;
}

.sound-card-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: auto; 
    margin-bottom: 1rem;
}