@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.App {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(180deg, #0A0000 0%, #271B00 8%, #312509 46%, #3B2E12 67%, #504610 100%);
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 19vw;
  font-weight: 700;
  color: #E6E4D6;
  text-align: start;
  margin: 0;
  line-height: 0.8;
  text-align: left;
  letter-spacing: -3px;
  word-wrap: break-word;

}

h2 {
  font-size: 11vw;
  font-weight: 400;
  color: #E6E4D6;
  text-align: start;
  letter-spacing: -2px;
  font-weight: 500;
  margin-top: 3rem;
}

h3 {
  font-size: 3.9vw;
  font-weight: 400;
  color: #E6E4D6;
}

/* h4 {
  font-size: 3.9vw;
  font-weight: 400;
  color: #E6E4D6;
} */

p {
  font-size: 3.6vw;
  color: #E6E4D6;
}

.no-scroll {
  overflow: hidden;
}

.explore,
.sounds,
.community,
.about,
.events,
.closing, 
.text {
  margin: 8rem 1.2rem;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 71vh; */
}

.about-description {
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  /* distance between massa and descrip */
  margin-bottom: 20rem;
}

.events-title,
.sounds-title,
.community-title,
.magic-title,
.sounds-title,
.quote {
  margin: 1rem 2.5rem 2rem;
  word-wrap: break-word;
}

.magic-title {
  line-height: 100%;
}

.magic-description {
  text-align: justify;
  font-weight: 400;
  line-height: 120%;
  margin: auto 1.2rem;
}

.events-horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding-right: 30px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
}

.events-horizontal-scroll::-webkit-scrollbar {
  display: none;
  cursor: grab;
}

.closing {
  display: flex;
  flex-direction: column;
}

.closing img {
  width: 6rem;
  height: auto;
  align-self: center;
  margin-bottom: 0.5rem;
}

.quote {
  text-align: center;
  margin: 1.5rem auto;
  width: 60%;
}

.quote-desktop {
  display: none;
}

footer {
  position: relative;
  color: #fff;
  padding: 2rem 1.2rem;
}

.footer-title {
  margin-bottom: 5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.date {
  align-self: flex-end;
}

.btn-container {
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.action-btn {
  width: 3rem;
  height: 3rem;
  background-color: rgba(238, 231, 159, 0.1);
  cursor: pointer;
  border-radius: 20px;
  color: #E6E4D6;
  border: 1px solid #8d8c81;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn img {
  width: 20px;
  height: 20px;
}

.action-btn:active {
  background-color: rgba(238, 231, 159, 0.3);
}

.action-btn:hover {
  background-color: rgba(238, 231, 159, 0.2);
}

/* text animation */

.text-animation {
  color: #E6E4D6;
  line-height: 106%;
  margin: 0;
  white-space: nowrap;
}

.text-animation:nth-child(1) {
  text-indent: 1rem;
}

.text-animation:nth-child(2) {
  text-indent: 3rem;
}

.text-animation:nth-child(3) {
  text-indent: 5rem;
}

.text-animation:nth-child(4) {
  text-indent: 7rem;
}

.text-animation:nth-child(5) {
  text-indent: 9rem;
}

.text-animation:nth-child(6) {
  text-indent: 11rem;
}

.text-animation:nth-child(7) {
  text-indent: 13rem;
}

.text-animation:nth-child(8) {
  text-indent: -1rem;
}

.text-animation:nth-child(9) {
  text-indent: -3rem;
}

.text-animation:nth-child(10) {
  text-indent: -5rem;
}

.text-animation:nth-child(11) {
  text-indent: -7rem;
}

.text-animation:nth-child(12) {
  text-indent: -9rem;
}

.text-animation:nth-child(13) {
  text-indent: -11rem;
}

.text-animation:nth-child(14) {
  text-indent: 8rem;
}

.text-animation:nth-child(15) {
  text-indent: 10rem;
}

.text-animation:nth-child(16) {
  text-indent: 12rem;
}

.text-animation:nth-child(17) {
  text-indent: -7rem;
}

.text-animation:nth-child(18) {
  text-indent: -9rem;
}

.text-animation:nth-child(19) {
  text-indent: -11rem;
}

.text-animation:nth-child(20) {
  text-indent: 13rem;
}

.text-animation:nth-child(21) {
  text-indent: 14rem;
}

.text-animation:nth-child(22) {
  text-indent: -10rem;
}

.text-animation:nth-child(23) {
  text-indent: 16rem;
}

.text-animation:nth-child(24) {
  text-indent: -11rem;
}

.text-animation:nth-child(25) {
  text-indent: 14rem;
}

.text-animation:nth-child(26) {
  text-indent: -12rem;
}

.text-animation:nth-child(27) {
  text-indent: 15rem;
}

.text-animation:nth-child(28) {
  text-indent: -13rem;
}

@keyframes snakeRight {
  0% {
    text-indent: 0;
  }

  50% {
    text-indent: 6rem;
  }

  100% {
    text-indent: 0;
  }
}

@keyframes snakeLeft {
  0% {
    text-indent: 0;
  }

  50% {
    text-indent: -6rem;
  }

  100% {
    text-indent: 0;
  }
}

/* Right movements */
.text-animation:nth-child(1) {
  animation: snakeRight 5s infinite;
}

.text-animation:nth-child(2) {
  animation: snakeRight 5.5s infinite;
}

.text-animation:nth-child(3) {
  animation: snakeRight 6s infinite;
}

.text-animation:nth-child(4) {
  animation: snakeRight 6.5s infinite;
}

.text-animation:nth-child(5) {
  animation: snakeRight 7s infinite;
}

.text-animation:nth-child(6) {
  animation: snakeRight 7.5s infinite;
}

.text-animation:nth-child(7) {
  animation: snakeRight 8s infinite;
}

/* Left movements */
.text-animation:nth-child(8) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(9) {
  animation: snakeLeft 5.5s infinite;
}

.text-animation:nth-child(10) {
  animation: snakeLeft 6s infinite;
}

.text-animation:nth-child(11) {
  animation: snakeLeft 6.5s infinite;
}

.text-animation:nth-child(12) {
  animation: snakeLeft 7s infinite;
}

.text-animation:nth-child(13) {
  animation: snakeLeft 7.5s infinite;
}

/* Continue alternating movement direction */
.text-animation:nth-child(14) {
  animation: snakeRight 5s infinite;
}

.text-animation:nth-child(15) {
  animation: snakeRight 5.5s infinite;
}

.text-animation:nth-child(16) {
  animation: snakeRight 6s infinite;
}

.text-animation:nth-child(17) {
  animation: snakeRight 5s infinite;
}

.text-animation:nth-child(18) {
  animation: snakeRight 5.5s infinite;
}

.text-animation:nth-child(19) {
  animation: snakeRight 6s infinite;
}

.text-animation:nth-child(20) {
  animation: snakeRight 5s infinite;
}

.text-animation:nth-child(21) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(22) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(23) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(24) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(25) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(26) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(27) {
  animation: snakeLeft 5s infinite;
}

.text-animation:nth-child(28) {
  animation: snakeLeft 5s infinite;
}

@media (min-width: 500px) {
  p {
    font-size: 2.8vw;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 11.5vw;
    margin-bottom: 8%;
  }


  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .about-description h3 {
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    font-size: 1rem;
    white-space: pre-wrap;
  }

  .about-title {
    margin-top: 15rem;
  }

  .magic{
    height: 100vh;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .magic-title {
    text-align: center;
    line-height: 100%;
  }

  .magic-description {
    text-align: center;
    word-spacing: 5px;
    font-size: 1.5rem;
    margin: 0 25rem;
  }

  .events-horizontal-scroll {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    overflow-x: hidden;
    flex-wrap: nowrap;
    padding: 1rem;
  }

  .quote {
    display: none;
  }

  .quote-desktop {
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem auto;
  }

  footer {
    position: relative;
    color: #fff;
    padding: 2rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-title {
    font-size: 3rem;
    flex: 1;
    text-align: left;
    letter-spacing: -3px;
    margin: 0;
  }

  .footer-date {
    flex: 1;
    text-align: center;
  }
}