.book-card {
    position: relative;
    height: 80vh;
    width: 90vw;
    flex: 0 0 auto;
    margin: 80px 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    color: rgb(254, 254, 254);
    scroll-snap-align: center;
}

.book-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(100px);
    border-radius: inherit;
    z-index: -1;
}

.book-card-content-container {
    margin: 0 2rem;
    height: 40%;
    overflow: hidden;
}

.book-card-title {
    letter-spacing: -2px;
    font-weight: 500;
    margin-bottom: 2rem;
    font-weight: 500;

}

.book-card-descriptor {
    font-weight: 500;
    margin-bottom: 2rem;
}

.book-card-description {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2rem;
}

.book-card-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem 2rem;
}