.card {
    height: 80vh;
    /* width: 80vw; */
    margin: 1em 0;
    padding: 20px;
    border-radius: 60px;
    color: #E6E4D6;
    text-align: start;
    background-color: #707735;
}
.card-container{
margin: 1.5em 0;
}

.card-title,
.card-descriptor {
    margin: 0;
}

.card-descriptor {
    margin-bottom: 3rem;
}

ul {
    padding: 0 0 0 20px;
}